{% extends 'base1.html.twig' %}

{% block title %}TipoPublicacion index{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{% endblock  %}

{% block body %}
<div class="w-75 mb-2 m-auto">
    <h1 class="font-weight-bold text-center">Tipo de publicaciones</h1>

    <div class="border border-secondary rounded p-3 shadow mb-5 bg-white ">
        <table class="table table-striped table-bordered  table-hover" id="datatable">
            <thead class="thead-dark">
                <tr>
                    <th class="col-4">Id</th>
                    <th class="col-4">Nombre</th>
                    <th class="col-4 text-center">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tipo_publicacion in tipo_publicacions %}
                <tr>
                    <td>{{ tipo_publicacion.id }}</td>
                    <td>{{ tipo_publicacion.nombre }}</td>
                    <td class="text-center">
                        <a href="{{ path('tipo_publicacion_show', {'id': tipo_publicacion.id}) }}">
                            <button type="button" class="btn btn-outline-primary btn-boton">Show</button>
                        </a>
                        <a href="{{ path('tipo_publicacion_edit', {'id': tipo_publicacion.id}) }}">
                            <button type="button" class="btn btn-outline-info btn-boton">Edit</button>
                        </a>
                        {% set suscripto = 0 %}
                        {% for suscripcion in suscripciones %}
                            {% if suscripcion.getTipoPublicacion().getId()==tipo_publicacion.id %}
                                {% set suscripto = 1 %}                       
                            {% endif %}
                            
                        {% endfor %}

                        {% if suscripto==1 %}
                            <a href="{{ path('nueva_suscripcion', {'id': tipo_publicacion.id}) }}">
                                <button type="button" class="btn btn-outline-dark btn-boton" disabled>Suscripto <i class="fas fa-check"></i></button>
                            </a>
                        {% else %}
                            <a href="{{ path('nueva_suscripcion', {'id': tipo_publicacion.id}) }}">
                                <button type="button" class="btn btn-outline-success btn-boton">Suscribirse</button>
                            </a>
                        {% endif %}
                        
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        <a href="{{ path('tipo_publicacion_new') }}"><button type="button" class="btn btn-outline-primary btn-boton">Crear</button></a>
    </div>
</div>

    
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('index') }}
{% endblock %}

